



body {
    height: 100vh;
    background-color: #cccccc;
    background-image: url('../wallpaper/backgroundwallpaper.jpg');
    background-size:cover;
    background-position:center;
}
/*.my_divs {
    float: left
}

.menu_li {
    cursor: pointer;
    color: azure;
}
.menu_li :hover{
    color:orangered
}

.menu_ul {
    background-color: black;
}*/

/*--------------------------*/
.nav_lis {
    list-style: none;
}

a{
    text-decoration:none;
    color:#fff;
    font-size:1rem;
}
a:hover{
    color:orangered;
}

.table_menu_loud{
    margin-top:5px;
    width:100%;
}
/*--------header ------*/
header {
    position: relative;
    padding: 0 2rem;
    
}
.navbar {
    /*background-color:azure;*/
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.table_div {
    width: 100%;
    height: 90vh;
    background-image: url('../wallpaper/backgroundwallpaper.jpg');
    background-size: cover;
    background-position: center;
}
.table_table{
    width:100%;
    height:90vh;
}
.table_right_td {
    border-radius: 25px;
    width: 20%;
    /*border: groove;*/
    border-color: #677d9c;
    border-radius: 25px;
    vertical-align: top;
}
.table_left_td{
    width:80%;
}

@media(max-width:576px) {
    .tag_menu{
        display:block;

    }
    .navbar .logo .links {
        display: none;
    }
    .table_right_td{
        width:100%;

    }
    .table_right_td{
        width:0%;
    }

}
.btnprimary {
    width: 100%;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    background-color: lightblue;
}
    .btnprimary:hover {
        background-color: white;
        color:black;
    }

   /* ------------------------loading-----------------*/
.louddivs {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.dv_louddivs {
   
    
}
.louddivs1 {
    border: 5px solid;
    border-block-color:azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 230px;
    width:30%;
   
}
.tdlogin {
    border-radius: 25px;
    text-align: center;
    width: 100%;
    color: burlywood;
    gap: 10px;
    height: 200px;
}
.btnlogin{
    background-color:lightblue;
    color:black;
    border-radius:25px;
    width:30%;
        
}
    .btnlogin :hover {
        background-color: lightsteelblue;
        color:aliceblue;
    }
    